body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-image: url("https://i.etsystatic.com/8591869/r/il/492104/1203014510/il_1588xN.1203014510_nj95.jpg");
    background-attachment: fixed;
}

div.Calm {
    background: rgba(102, 176, 236, 0.691);
    color: white;
}

div.Happy {
    background: rgba(203, 219, 57, 0.787);
    color: white;
}

div.Fearful {
    background: rgba(70, 74, 77, 0.712);
    color: white;
}

div.Angry {
    background: rgba(231, 83, 64, 0.712);
    color: white;
}

div.Sad {
    background: rgba(38, 65, 218, 0.671);
    color: white;
}

div.Humorous {
    background: rgba(230, 132, 40, 0.691);
    color: white;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fliph {
    display: inline-block;
    vertical-align: top;
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}

.mood-card {
    font-weight: bolder;
}

.prompt-div {
    font-weight: lighter;
}

.prompt-div {
    color: white;
}