body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mood-card {
    font-weight: bolder;
}

.prompt-div {
    font-weight: lighter;
}

.fliph {
    display: inline-block;
    vertical-align: top;
    transform: scaleX(-1); /* Or also:   rotateY(180deg) */
    -ms-filter: fliph;
    filter: fliph;
}

body {
    background: rgb(246, 218, 195);
}